/*Desctop styles*/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/*Body*/

.body {
    font-family: 'Inter', sans-serif;
} 

/*Header*/
header {
  display: flex;
  margin: 15px;
}
/* добавляем отступы между ссылками, регулируем размер шрифта*/
.link-1 {
  margin: 15px;
  font-size: 0,5 rem;
  color: #202c98;
  font-weight: 500;
  text-decoration: none;
}

.logo{
  justify-content: end;
  margin-top: 10px;
  margin-right: 2vw;
  margin-left: 3vw;
}

.korb {
  background-color: rgb(5, 5, 172);
  float: center;
  width: 25%;
  border-radius: 7px;
  color: rgb(228, 235, 240);
  font-size: 1em;
  }

.container-laod{
  text-align: center;
  flex-basis: 45%;
  margin-top: 15px;
}

.header-wrap{
  display: flex;
  flex-basis: 55%;
}

.dws-menu {
  display: none;
  }

/*  .dws-menu [type="checkbox"] {
    display: none;
    }
    .dws-menu label.toggleMenu{
      display: block;
      cursor: pointer;
      position: relative;
      margin: 14px;
      }
    
    .dws-menu label.toggleMenu .fa {
      position: absolute;
      top: 15px;
      left: 12px;
      font-size: 18px;
    }*/

/*Main*/

.container {
    max-width: 85%;
    margin: 0 auto;
}

/*Section The best video*/
.textp1 {
  text-align: left;
  justify-content: flex-start;
  font-family: Inter;
    
}
.titel-1{
  color: var(--navy-blue, #18216D);
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  width: 55% ;
  
}
.block{ 
  
  display: flex;
  justify-content: space-between;
  padding: 1em;
  box-sizing: border-box;
}

.box1{
  align-self: center;
  flex-basis: 50%;
  float: left;
  position: relative;
  color: rgb(8, 8, 100);
  margin: 2px;
}

.box2{
  flex-basis: 50%;
  float: right;
  display: block;
  margin: 2px;
}

.box1-button {
  display: flex;
  background-color: rgb(0, 236, 208);
  color: rgb(3, 3, 133);
  border-radius: 7px;
  border: none;
  display: flex;
  justify-content: center;
  width: 25%;
  height: 3em;
  align-items: center;
  }

button:hover {
  background-color: #7c8fdb;
  }

/*Section Collaborate 2M*/

  .container_2m_mobile{
    display: none;
  }
.Collaborate_text{
  display: flex;
  color: var(--navy-blue, #18216D);
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  justify-items: flex-start;
}
.company_logo_icons{
  display: flex;
  flex-shrink: 0;
  width: 100%;
  margin-left: 10%;
} 

.Airbnb{
  width: 104.646px;
  height: 29.899px;
  flex-shrink: 0;
}
.Hubspot{
  width: 104.646px;
  height: 29.899px;
  flex-shrink: 0;
}
.Google{
  width: 104.646px;
  height: 34.882px;
  flex-shrink: 0;
}
.Microsoft{
  width: 151.987px;
  height: 32.391px;
  flex-shrink: 0;
}
.Walmart{
  width: 138.283px;
  height: 32.391px;
  flex-shrink: 0;
}
.FedEx{
  width: 99.663px;
  height: 29.899px;
  flex-shrink: 0;
}
.active_downloads{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 52%;
}
.active_downloads_text{
  color: var(--navy-blue, #18216D);
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 116.667% */
  letter-spacing: -1px;
}
.Rating{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30%;
}
.Rating_number{
  color: var(--navy-blue, #18216D);
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 116.667% */
  letter-spacing: -1px;
}
.bottom_text{
  color: var(--navy-blue, #18216D);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}


/*Section Our special*/
.card-img-top-column123 {
    max-width: 72px;
    height: 72px;
}

.btncolumn123 {
    padding-left: 0;
    color: #18216D;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
}

.card-body-column123 {
    padding-left: 0;
    padding-right: 0;
    color: #18216D;
}

.col-specials {
    padding-bottom: 2rem;
}

.card-specials {
    color: #18216D;
}

.container-specials {
    padding-bottom: 4rem;
    padding-top: 7rem;
}

.card-title-specials {
    font-weight: 600;
    font-size: 24px;
    line-height: 29.05px;
}

.column123 {
    width: 320px;
    height:267px;
}

.card-title-spedials {
    font-weight: 600;
    font-size:48px;
    line-height: 64px;
}

.card-text-spedials {
    font-size: 16px;
    line-height:26px;
    font-weight: 400;
}

.card-body-column123 p {
    opacity: 0.6;
}


/*Section Integrate*/

.container-fluid-integrate  {
    padding-top: 4rem;
    background-color: rgba(0, 95, 236, 0.05);      
  }
  
  .card-body-integrate {
    color: #18216D;
    padding-left: 0;
    padding-right: 0;
    padding-top: 12%;
    height: 30%;
    background-color: rgba(0, 95, 236, 0.05);
  }
  
  .btn-integrate {
    width: 160px;
    height: 52px;
    font-weight: 500;
    font-size: 17px;
    line-height: 20.57px;
    padding-top: 1rem;
    margin-top: 2rem;
  }
  
  .card-text-integrate {
    padding-top: 1rem;
    font-weight: 400;
    font-size: 16px;
    width: 487px;
  }
  
  .card-title-integrate {
    font-weight: 600;
    font-size: 36px;
    width: 471px;
    }
  
  .col-integrate {
   padding-right: 0;
   margin-left: 4%;
  }
  
  .col-img-integrate {
    margin-left: 3%;
  }
  
  .img-fluid-integrate {
  min-width: 690px;
    min-height: 437px;
    padding-bottom: 4rem;
    max-width: 40vw;
  }
  
  .card-body-img-integrate {
    max-width: 690px;
    min-width: none;
  }
  
  .row-integrate {
        max-width: 95%;
        margin: 0 auto; 
  }

/*Section Powering*/

.man-block{
  display: flex;
  /*justify-content: center;*/
  margin-top: 130px;
  margin-bottom: 189px;
  color: #18216D;
}

.man{
  width: 450px;
  height: 490px;
}

.man-textarea {
  right: 95px;
  position: relative;
}

.man-textarea .man-title{
  width: 496px;
  height: 96px;
  font-size: 36px;
  font-weight: 600;
}

.man-textarea .man-text{
  width: 446px;
  height: 90px;
  font-size: 16px;
  font-weight: 500;
}

.img-section {
  right: 150px;
  position: relative;
}

.img-section .points{
  width: 130px;
  height: 133px;
  position: relative;
  bottom: -397px;
  left: 62px;
  z-index: -1;
}

.img-section .message{
  width: 250px;
  height: 210px;
  position: relative;
  bottom: -375px;
  right: 125px;
}

.man-ratio{
  display: flex;
  margin-top: 26px;
}

.man-ratio .checkmark{
  width: 19.973px;
  height: 19.97px;
}

.man-ratio:first-child{
  margin-top: 30px;
}

.man-ratio .checkmark-text{
  padding-left: 16px;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px; 
}

.man-btn{
  display: flex;
  text-decoration: none;
  border-radius: 6px;
  background-color: #005FEC;
  color: #fff;
  width: 164px;
  height: 54px;
  justify-content: center;
  align-items: center;
  transition: .3s;
  margin-top: 52px;
}

.man-btn:hover{
  background-color: #0a58ca;
  transform: scale(1.2);
}

.img-section{
  display: flex;
}

/*Section Flexible*/

.flexible {
    width: 100%;
    margin-bottom: 5%;
    padding-bottom: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 10% 10% 80%;
}

.flexible_header {
    margin: 0;
    grid-column: 1/4;
    grid-row: 1/2;
    justify-self: center;
    align-self: start;
    font-size: 3rem;
    font-weight: 600;
    color: rgba(24, 33, 109, 1);
}

.flexible_content {
    margin: 0;
    display: block;
    width: 55%;
    grid-column: 1/4;
    grid-row: 2/3;
    justify-self: center;
    align-self: start;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: rgba(24, 33, 109, 1);
}

.payment_figure {
    width: 90%;
    height: 100%;
    margin-top: 10%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 75%;
    border: 1px solid rgba(35, 38, 41, 0.2);
    border-radius: 10px;
}

.payment_figure:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 4/5;
    justify-self: start;
}

.payment_figure:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: center;
}

.payment_figure:nth-of-type(3) {
    grid-column: 3/4;
    grid-row: 4/5;
    justify-self: end;
}

.figure_top {
    grid-column: 1/2;
    grid-row: 1/2;
    border-bottom: 1px solid rgba(35, 38, 41, 0.2);
}

.figure_name {
    margin-bottom: 0;
    margin-top: 5%;
    margin-left: 10%;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(24, 33, 109, 1);
}

.figure_price {
    margin-left: 10%;
    margin-bottom: 15%;
    font-size: 2.25rem;
    font-weight: 600;
    color: rgba(24, 33, 109, 1);
}

.figure_price__gray {
    font-size: 2.25rem;
    font-weight: 600;
    color: rgba(109, 109, 109, 1);
}

.figure_bottom {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 10% 10%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80% 20%;
}

.figure_bottom_list {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0;
}

.figure_bottom_item {
    box-sizing: border-box;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(24, 33, 109, 1);
}

.not_included {
    color: rgba(24, 33, 109, 0.5);
}

.figure_bottom_item>img {
    margin-right: 1em;
}

.payment_figure_button {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: end;
  display: block;
  box-sizing: content-box;
  width: 60%;
  height: 3.5em;
  margin-top: 5%;
  font-size: 16px;
  color: rgba(24, 33, 109, 1);
  text-align: center;
  background-color: rgba(0, 95, 236, 0.1);
  border: none;
  border-radius: 6px;
}

.payment_figure_button:hover {
  color: white;
  background-color: rgba(0, 95, 236, 1);
}

.payment_figure:hover .figure_top {
  border-bottom: none;
  box-shadow: 0px 4px 20px -12px rgba(0, 0, 0, 0.5);
}

/* Кнопка-переключатель */
.reating-arkows {
  position: relative;
  grid-column: 1/4;
  grid-row: 3/4;
  justify-self: center;
  align-self: center;
  }

.reating-arkows *, .reating-arkows *:before, .reating-arkows *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor:pointer;
  }

.reating-arkows input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  }

.reating-arkows input[type="checkbox"][disabled] ~ label {
  pointer-events: none;
  }
  
.reating-arkows input[type="checkbox"][disabled] ~ label .trianglesusing {
  opacity: 0.4;
  }
  
.reating-arkows input[type="checkbox"]:checked ~ label .trianglesusing:before {
  content: attr(data-unchecked);
  left: 0;
  }

.reating-arkows input[type="checkbox"]:checked ~ label .trianglesusing:after {
  content: attr(data-checked);
  }
  
.reating-arkows label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  width: 270px;
  height: 60px;
  border-radius: 6px;
  }

.reating-arkows label .trianglesusing {
  position: relative;
  }

.reating-arkows label .trianglesusing:before {
  content: attr(data-checked);
  position: absolute;
  top: 0;
  text-align: center;
  }
 
.reating-arkows label .trianglesusing:after {
  content: attr(data-unchecked);
  position: absolute;
  z-index: 5;
  text-align: center;
  background: white;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
 }

.reating-arkows input[type="checkbox"][disabled] ~ label {
  color: rgba(119, 119, 119, 0.5);
 }

.reating-arkows input[type="checkbox"]:focus ~ label .trianglesusing, .reating-arkows input[type="checkbox"]:hover ~ label .trianglesusing {
  background-color: rgba(0, 95, 236, 0.1);
 }

.reating-arkows input[type="checkbox"]:focus ~ label .trianglesusing:after, .reating-arkows input[type="checkbox"]:hover ~ label .trianglesusing:after {
  color: rgba(0, 95, 236, 1);
 }

 .reating-arkows input[type="checkbox"]:hover ~ label {
  color: rgba(0, 95, 236, 1);
 }

.reating-arkows input[type="checkbox"]:checked ~ label:hover {
  color: rgba(0, 95, 236, 1);
 }

.reating-arkows input[type="checkbox"]:checked:focus ~ label .trianglesusing, .reating-arkows input[type="checkbox"]:checked:hover ~ label .trianglesusing {
  background-color: rgba(0, 95, 236, 0.1);
 }

.reating-arkows input[type="checkbox"]:checked:focus ~ label .trianglesusing:after, .reating-arkows input[type="checkbox"]:checked:hover ~ label .trianglesusing:after {
  color: rgba(0, 95, 236, 1);
 }

.reating-arkows label .trianglesusing {
  -webkit-transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
  background: rgba(0, 95, 236, 0.1);
 }

.reating-arkows label .trianglesusing:before {
  color:  rgba(24, 33, 109, 1);
 }

.reating-arkows label .trianglesusing:after {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  color: rgba(0, 95, 236, 1);
 }

.reating-arkows input[type="checkbox"]:checked ~ label .trianglesusing:after {
  -webkit-transform: translate3d(124px, 0, 0);
  transform: translate3d(124px, 0, 0);
 }

.reating-arkows label {
  font-size: 14px;
 }

.reating-arkows label .trianglesusing {
  height: 60px;
  border-radius: 6px;
 }

.reating-arkows label .trianglesusing:before {
  left: 135px;
  width: 135px;
  padding: 6px 12px;
  font-size: 17px;
  font-weight: bold;
  line-height: 48px;
 }

.reating-arkows label .trianglesusing:after {
  top: 6px;
  left: 6px;
  border-radius: 6px;
  width: 135px;
  line-height: 48px;
  font-size: 17px;
  font-weight: bold;
 }

.reating-arkows label .trianglesusing:hover:after {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
 }

/*Section Testimonial*/
.feedback {
width: 100%;    
height: 650px;
position: relative;
background: #FAFAFA;
display: flex;
flex-direction: row;
/* No text styles in this selection */
}    

.f-box {
position: relative;
width: 100%;
height: 100%;
}
/* Testimonial */
.testimonial-1 {
display: flex;
color: #18216D; 
font-size: 48px;
font-family: Inter;
font-style: normal;
font-weight: 600;
line-height: 48px;;
word-wrap: break-word;
margin-bottom: 55px;
margin-top: 140px;
}

/* Here are many variations of passag Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words don't look even slightly believable. */
.text-linie {
display: flex;
color: #18216D;
width: 614px;
height: 176px;
opacity: 0.90;
top: 0px;
font-family: Inter;
font-size: 24px;
font-style: italic;
font-weight: 500;
line-height: 44px; /* 183.333% */
}

.small-box {
position: relative;
width: 127px;
height: 58px;
flex-shrink: 0;
top: 33px;
left: 0px;
}
/* Cris Gayle */
.text-cris {
display: flex;
color: #18216D;
font-family: Inter;
font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 100% */
word-wrap: break-word;
}

/* Manager */
.text-manager {
display: flex;
color: #18216D;
font-size: 16px;
font-family: Inter;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
word-wrap: break-word
}

/* No text styles in this selection */
.fotobox {
display: flex;
position: relative;
margin-top: 100px;
font-size: 77px;
width: 447.589px;
height: 450px;
flex-shrink: 0;
border-radius: 77.143px;
}

/* Ellipse small 175 */
.ellipse-175 {
display: block;
position: absolute;
width: 229.82px;
height: 229.82px;
left: 110.89px;
top: 108.48px;
border-radius: 9999px;
border: 1px black solid;
flex-shrink: 0;
}

/* Ellipse big 176 */
.ellipse-176 {
display: block;
position: absolute;
width: 388.93px;
height: 388.93px;
left: 31.34px;
top: 28.93px;
border-radius: 9999px;
border: 1px black solid;
flex-shrink: 0;
}

/* image 177 */
.ellipse_177 {
width: 77.14px;
height: 77.14px;
position: absolute;
left: 173.57px;
top: 372.86px;
flex-shrink: 0;
filter: drop-shadow(0px 8px 20px rgba(1, 0, 81, 0.10));
}

/* image 178 */
.ellipse_178 {
width: 77.143px;
height: 77.143px;
left: 370.45px;
top: 157.50px;
position: absolute;
flex-shrink: 0;
filter: drop-shadow(0px 8px 20px rgba(1, 0, 81, 0.10));
}

/* image 179 */
.ellipse_179 {
width: 77.143px;
height: 77.143px;
position: absolute;
left: 172.77px;
top: -0px;
flex-shrink: 0;
filter: drop-shadow(0px 8px 20px rgba(1, 0, 81, 0.10));
}

/* image 180 */
.ellipse_180 {
width: 77.143px;
height: 77.143px;
position: absolute;
left: -0px;
top: 138.21px;
flex-shrink: 0;
filter: drop-shadow(0px 8px 20px rgba(1, 0, 81, 0.10));
}

/* image 181 */
.ellipse_181 {
width: 51.429px;
height: 51.429px;
position: absolute;
left: 289.29px;
top: 265.98px;
flex-shrink: 0;
filter: drop-shadow(0px 8px 20px rgba(1, 0, 81, 0.10));
}

/* image 182 */
.ellipse_182 {
width: 51.429px;
height: 51.429px;
flex-shrink: 0;
position: absolute;
left: 123.75px;
top: 121.34px;
filter: drop-shadow(0px 8px 20px rgba(1, 0, 81, 0.10));
}

/* image 183 */
.ellipse_183 {
width: 51.429px;
height: 51.429px;
left: 277.23px;
top: 112.50px;
flex-shrink: 0;
position: absolute;
filter: drop-shadow(0px 8px 20px rgba(1, 0, 81, 0.10));
}

/* image 184 */
.ellipse_184 {
width: 51.429px;
height: 51.429px;
flex-shrink: 0;
position: absolute;
left: 114.11px;
top: 265.98px;
filter: drop-shadow(0px 8px 20px rgba(1, 0, 81, 0.10));
}



/*Footer*/
.footer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80% 20%;
  margin-top: 5%;
}

.footer a {
  text-decoration: none;
  color: rgba(24, 33, 109, 0.9);
  margin-bottom: 1.2em;
}

.footer_content {
  padding-bottom: 8%;
  grid-column: 1/2;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 25% 1fr 1fr 1fr 25%;
  grid-template-rows: 25% 75%;
  border-bottom: 1px solid rgba(24, 33, 109, 0.1);
}

.foot_logo {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: start;
}

.foot_header1 {
  margin-bottom: 1.5em;
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: start;
  color: rgba(24, 33, 109, 1);
  font-weight: 600;
  font-size: 22px;
}

.foot_header2 {
  margin-bottom: 1.5em;
  grid-column: 3/4;
  grid-row: 1/2;
  justify-self: start;
  color: rgba(24, 33, 109, 1);
  font-weight: 600;
  font-size: 22px;
}

.foot_header3 {
  margin-bottom: 1.5em;
  grid-column: 4/5;
  grid-row: 1/2;
  justify-self: start;
  color: rgba(24, 33, 109, 1);
  font-weight: 600;
  font-size: 22px;
}

.foot_header4 {
  margin-bottom: 1.5em;
  grid-column: 5/6;
  grid-row: 1/2;
  justify-self: start;
  color: rgba(24, 33, 109, 1);
  font-weight: 600;
  font-size: 22px;
}

.foot_logo_content {
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  grid-template-areas: 'term'
                        'links';
  color: rgba(24, 33, 109, 0.9);
}

.foot_logo_content>p {
  grid-area: term;
  width: 90%;
}

.foot_logo_apps {
  grid-area: links;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: rgba(24, 33, 109, 0.9);
}

.foot_logo_apps>a:first-of-type {
  margin-right: 5%;
}

.footer_resources {
  grid-column: 2/3;
  grid-row: 2/3;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgba(24, 33, 109, 0.9);
}

.footer_product {
  grid-column: 3/4;
  grid-row: 2/3;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgba(24, 33, 109, 0.9);
}

.footer_more {
  grid-column: 4/5;
  grid-row: 2/3;
  display: flex;
  padding-bottom: 10%;
  flex-direction: column;
  align-items: flex-start;
  color: rgba(24, 33, 109, 0.9);
}

.footer_contact {
  grid-column: 5/6;
  grid-row: 2/3;
  display: flex;
  padding-bottom: 10%;
  flex-direction: column;
  align-items: flex-start;
  color: rgba(24, 33, 109, 0.9);
}

.footer_bottom {
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: center;
  margin: 0 auto;
}

.footer_bottom_content {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  color: rgba(24, 33, 109, 0.8);
}


/*Адаптив для шрифтов*/

@media screen and (min-width: 501px) and (max-width: 1023px) {
  .img1{
    width: 100%;
  }
  .korb{
    width: 70%;
    display: none;
  }
  .logo{
    display: flex;
    width: 50%;
    height: 40%;
    margin-left: auto;
    float: left;
  }
  .titel-1 {
    width: 50%;
    align-items: center;
  }
  .header-wrap{
   align-items: flex-start;
   flex-basis:40% ;
  }
  .container-laod{
  flex-basis:40% ;

}

  .col-integrate {
      margin-left: 1rem;
    }

    .card-body-integrate {
          padding-top: 1rem;
    }
    
    .col-img-integrate {
      display: none;
    }

    .container-fluid-integrate  {
      padding-top: 1rem;
    }

    .flexible_header {
      font-size: 2rem;
    }

    .payment_figure {
      grid-template-rows: 15% 85%;
    }

    .figure_name {
      font-size: 1.5rem;
    }

    .figure_price, .figure_price__gray {
      font-size: 1.2rem;
    }


    .figure_bottom_item, .footer a {
      font-size: 0.8rem;
    }

    .foot_header1, .foot_header2, .foot_header3, .foot_header4 {
      font-size: 1rem;
      align-self: center;
    }

    .footer_contact a:first-of-type {
      word-break: break-all;
    }

    .payment_figure_button {
      font-size: 0.8rem;
    }

    .img-section {
      display: none;
    }
    
    .man-block {
      justify-content: flex-start;
    }

  }

  @media screen and (min-width: 1024px) and (max-width: 1396px) {

  .card-body-integrate {
    padding-top: 1rem;
}

}

  @media screen and (min-width: 2100px) {

   .card-text-integrate {
    font-size: 30px;
    width: 800px;
  }
  
  .card-title-integrate {
    font-size: 45px;
    width: 600px;
    }

      .img-fluid-integrate {
        width: 500px;
        }

.card-title-spedials {
    font-size: 50px;
    line-height:30px;
}


.column123 {
    width: 500px;
    height:350px;
}

.card-text-spedials {
padding-top: 2rem;
    font-size: 30px;
    line-height:45px;
}

.card-img-top-column123 {
    max-width: 90px;
    height: 90px;
}

.btncolumn123 {
    font-size: 30px;
    padding-top: 1.5rem;
}

.card-title-specials {
    font-size: 30px;
    padding-top: 1rem;
}

.card-text-specials {
    font-size: 25px;
    padding-top: 1rem;
}

.container {
    width: 75%;
}

.row-integrate {
    width: 83%;
}

.card-body-integrate {
    padding-top: 0;
  }

  .btn-integrate {
    font-size: 20px;
}

.logo1 {
    width: 150%;
    padding-top: 0.5rem;
}

.link-1 {
    font-size: 1.7rem;
  }
  
  .korb {
    font-size: 1.5em;
    }
  
    .titel-1{
      font-size: 50px;
    }
  
    .textp1 {
      font-size: 30px;
      padding-top: 1rem;
    }
  
    .box1-button {
      font-size: 20px;
      }
    
      .Collaborate_text{
        font-size: 45px;
        padding-bottom: 2rem;
      }
  
     .man-textarea .man-title {
        font-size:45px;
        width: 100%;
      }
  
   .man-textarea .man-text{
        font-size: 30px;
        width: 100%;
      }
  
.man-ratio .checkmark-text {
    font-size: 30px;
    margin-top: 1rem;
  }

  .checkmark {
    margin-top: 1rem;
  }

      .man-btn {
        font-size: 20px;
        margin-top: 1rem;
      }
  
      .flexible_header {
        font-size: 45px;
      }
  
      .flexible_content{
        font-size: 30px;
        padding-bottom: 10rem;
      }
  
      .figure_name {
        font-size: 30px;
      }
  
      .figure_price {
        font-size: 30px;
      }
  
      .figure_bottom_item {
        font-size: 20px;
      }
  
      .payment_figure_button {
        font-size: 20px;
      }
  
      .testimonial-1 {
        font-size: 50px;
      }
  
      .text-linie  {
        font-size: 30px;
      }
  
      .text-cris {
        font-size: 25px;
        padding-top: 3rem;
      }
  
      .text-manager {
        font-size: 20px;
      }
  
      .foot_logo_content {
        font-size: 25px;
      }
  
      .foot_header1 {
        font-size: 30px;
      }
  
      .footer_resources {
        font-size: 20px;
      }
  
      .foot_header2 {
        font-size: 30px;
      }
  
      .footer_product {
        font-size: 20px;
      }
  
      .foot_header3 {
        font-size: 30px;
      }
  
      .footer_more {
        font-size: 20px;
      }
      
      .foot_header4 {
        font-size: 30px;
      }
  
      .footer_contact {
        font-size: 20px;
      }
  
      .footer_bottom_content {
        font-size: 20px;
      }
    }


  /*Адаптив для mobile общий*/

@media screen and (max-width: 500px) {
    
/*Header*/
.img1{
  width: 100%;
}
.titel-1{
  width: 95%;
}
.link-toggle{
  text-decoration: none;
}
.dws-menu{
  display: block;
  margin-left: auto;
  }
.dws-menu ul{
  display: none;
  } 

.dws-menu [type="checkbox"] {
  display: none;
  }

.dws-menu label.toggleMenu{
    display: block;
    cursor: pointer;
    position: relative;
    margin: 14px;
    }
  
.dws-menu label.toggleMenu .fa {
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
    }
/*.toggleMenu{
  margin-left: auto;
}*/


  .header-wrap{
    display: none;
    }

.container-laod{
    display: none;
    } 

input.toggleMenu:checked + label.toggleMenu {
  background: #8c92c0;
  color: #141414;
  }

input.toggleMenu:checked ~ ul {
    display: block;
    float: center;
    }
/*Main*/


.container {         
    max-width: 85%;
    margin: 0 auto; 
} 

/*Section The best video*/
.block{
  display: grid;
  grid-template-areas: "box1" 
                       "box2"; 
  padding: 1em;
  width: 100%;
}

.titel-1{
  text-align: center; 
  align-items: center;
}
.textp1{
  text-align: center; 
  align-items: center;
}

.box1-button{
  margin-left: 40%;
}

.box1{
  grid-area: box1;
  
}
.box2{
    grid-area: box2;
}

/*Section Collaborate 2M*/
.container_2m{
  display: none;
}

.Collaborate_text{

  color: var(--navy-blue, #18216D);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
}
.active_downloads{
margin-top: 10%;
margin-left: 22%;
}
.Rating{
  margin-top: 10%;
  margin-left: 37%;
}
.Rating_number{
  color: var(--navy-blue, #18216D);
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
}
.bottom_text{
  font-size: 10px;
}
.active_downloads_text{
  color: var(--navy-blue, #18216D);
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
}
.heads img{
  width: 73%;
  height: 45%;
}
.stars img{
  width: 63%;
  height: 45%;
}
.company_logo_icons_mobile{
  display: flex;
  width: 100vw;
  margin-top: 7%;
    margin-left: 4%;
    padding-left: 0%;
    padding-right: 10%;
    max-width: 100vw;
    justify-content: space-between;
} 
.container_Collaborate_text{
  display: flex;
  justify-content: center;
}

.Airbnb{
  width: 51.429px;
  height: 16px;
}
.Hubspot{
  width: 48px;
  height: 13.714px;
}
.Google{
  width: 48px;
  height: 16px;
  
}
.Microsoft{
  width: 69.714px;
  height: 14.857px;
}
.Walmart{
  display: none;
}
.FedEx{
  display: none;
}
.stars{
width: 110px;
height: 25px;
flex-shrink: 0;
}
.heads{
width: 90px;
height: 25px;
flex-shrink: 0;
}
.container_2m_mobile{
  display: flex;
  justify-content: flex-start;
}

/*Section Our special*/


/*Section Integrate*/
.container-fluid-integrate  {
  display: none;
}
.card-title-spedials {
  font-size: 24px;
}
.card-text-spedials {
  font-size: 14px;
}
.card-img-top-column123 {
  width: 48px;
  height: 48px;
}
.card-title-specials {
  font-size: 20px;
}
.card-text-specials {
  font-size: 14px;
}
.btncolumn123 {
  font-size: 20px;
}

/*Section Powering*/


  .man-block{
    display: none;
  }


/*Section Flexible*/

.flexible {
    display: none;
}


/*Section Testimonial*/
.testimonial {
    display: none;
}


/*Footer*/

.footer {
  display: none;
}

}

@-moz-document url-prefix() {.man-title {margin-bottom: 10%;}
.flexible_content {padding-top: 3%;
padding-bottom: 3%;}
}
